/* COMMON */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

h1, h2, h3,h4 {
  font-weight: 500;
}

.padding-block-20 {
  padding: 20px 0;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.big-title {
  font-size: 45px;
}

.medium-title {
  font-size: 35px;
}

.small-title {
  font-size: 25px;
}

.big-text {
  font-size: 30px;
}

.medium-text {
  font-size: 20px;
}

.small-text {
  font-size: 12px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* FINE COMMON */

/* HEADER */

/* Nav Top */
.nav-top {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.nav-top nav {
  text-align: right;
}

.logo {
  line-height: 24px;
}

.logo img {
  height: 14px;
  vertical-align: middle;
}

/* Menu */
.menu {
  list-style-type: none;
}

.menu li {
  display: inline-block;
  padding-left: 20px;
  line-height: 22px;
}

.menu:first-child li:last-child {
  padding-right: 5px;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
}

.menu.lang li {
  padding: 0 10px;
  border-right: 1px solid black;
  line-height: 12px;
}

.menu.lang li:last-child {
  border-right: none;
  padding-right: 0;
}

.burger i {
  color: black;
  font-size: 25px;
}
/* Fine Menu */
/* Fine Nav Top */

/* Jumbotron */
.jumbotron {
  height: 550px;
  background-image: url("../img/hero-bg.jpg");
}

.jumbotron .teaser {
  color: white;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Fine Jumbotron */

/* FINE HEADER */


/* MAIN */

/* Sezione Prodotti */
.products .inner-content {
  padding: 20px;
}

.products .content-col {
  background-color: #fafafa;
  text-align: center;
  padding: 50px 30px;
}

.products .content-col img {
  width: 100%;
}

.products .content-col a {
  text-decoration: none;
}
/* Fine Sezione Prodotti */

/* Sezione Telefono */
.phone {
  padding: 20px 0 80px 0px;
}
.phone .helbiz-banner {
  height: 350px;
  background-image: url("../img/HelbizBanner.jpg");
  background-size: cover;
  text-align: center;
}

.phone .helbiz-banner img {
  width: 300px;
  position: relative;
  top: 30%;
}

.phone .phone-title {
  height: 170px;
  width: 70%;
  margin:auto;
  position: relative;
}

.title-content {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 95px;
}
/* Fine Sezione Telefono */

/* Sezione Discover */
/* Cta Orizzontale */
.discover {
  max-width: 1170px;
  margin: auto;
}

.discover .cta {
  height: 500px;
  background-size: cover;
}

/* CTA Orizzontale */
.discover .cta.horizontal {
  background-image: url(../img/ScooterHelbiz-2400.jpg);
}

.discover .container {
  height: 100%;
}

.discover .container [class*="col-"] {
  height: 100%;
}

.cta.horizontal .inner-content {
  width: 100%;
  height: 100%;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.1);
}

.cta.horizontal .inner-content .content-right {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-align: center;
  position: relative;
  color: white;
}

.content-right .centered {
  width: 70%;
}

.content-right .centered a {
  color: white;
  text-decoration: none;
}

/* CTA Verticali */

.cta.vertical .inner-content {
  padding:30px;
}

.cta.vertical .inner-content.left {
  padding-left: 0;
  height: 100%;
}
.cta.vertical .inner-content.right {
  padding-right: 0;
  height: 100%;
}

.cta.vertical .inner-content .content-col {
  color: white;
  text-align: center;
  padding: 30px 30px 0 30px;
  overflow: hidden;
  height: 100%;
}

.cta.vertical .inner-content .content-col a {
  color: white;
  text-decoration: none;
}


.cta.vertical .content-col img {
  width: 100%;
  position: relative;
  top: 90px;
  margin-top: -90px;
}

.cta.vertical .inner-content .content-col.left {
  background: linear-gradient(#41566a,#252f38) 50% no-repeat;
}

.cta.vertical .inner-content .content-col.right {
  background-image: url(../img/cities-1500.jpg);
  background-size: cover;
}




/* Fine Sezione Discover */

/* FINE MAIN */


/* MEDIA QUERIES */

/* MOBILE */
@media all and (max-width: 767px) {

  /* Header */
  .logo {
    line-height: 27px;
  }

  .jumbotron .teaser {
    width: 70%;
  }

  .teaser h1 {
    font-size: 38px;
  }

  /* Sezione Prodotti */
  .products .inner-content {
    padding: 30px;
  }

  /* Sezione Telefono */
  .phone .phone-title {
    height: auto;
    width: auto;
    padding-left: 60px;
  }

  .title-content {
    position:static;
    transform: none;
    padding-top:0;
  }

  .title-content.first{
    padding-top: 240px;
  }

  .title-content h2 {
    padding-bottom: 20px;
  }

  /* Seziione Discover */

  .cta.horizontal .inner-content .content-right {
    width: 100%;
  }

  .cta.vertical .inner-content {
    padding:30px;
  }

  .cta.vertical .inner-content.left {
    padding-left:30px;
  }

  .cta.vertical .inner-content.right {
    padding-right:30px;
  }

  .cta.vertical .content-col img {
    top: 144px;
    margin-top: -25%;
  }
  

}

/* TABLET */
@media all and (min-width: 768px) and (max-width: 991px) {

  /* Header */
  .logo {
    line-height: 27px;
  }

  /* Sezione Prodotti */
  .products .inner-content {
    padding: 30px; 
  }

  /* Sezione Telefono */
  .phone .phone-title {
    height: auto;
    width: auto;
    padding-left: 60px;
  }

  .title-content {
    position:static;
    transform: none;
    padding-top:0;
  }

  .title-content.first{
    padding-top: 240px;
  }

  .title-content h2 {
    padding-bottom:20px;
  }

  /* Sezione Discover */
  .discover {
    max-width: 90%;
    margin: auto;
  }

  .discover .cta.horizontal {
    background-position: 33% 50%;
  }

  .cta.vertical .inner-content {
    padding: 30px 0;
  }
}

/* FINE MEDIA QUERIES */