/* COMMON */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1, h2, h3,h4 {
  font-weight: 600;
}

.padding-block-20 {
  padding: 20px 0;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.big-title {
  font-size: 45px;
}

.medium-title {
  font-size: 35px;
}

.small-title {
  font-size: 25px;
}

.big-text {
  font-size: 30px;
}

.medium-text {
  font-size: 20px;
}

.small-text {
  font-size: 12px;
}

/* FINE COMMON */

/* HEADER */

/* Nav Top */
.nav-top {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.nav-top nav {
  text-align: right;
}

.logo {
  line-height: 24px;
}

.logo img {
  height: 14px;
  vertical-align: middle;
}

/* Menu */
.menu {
  list-style-type: none;
}

.menu li {
  display: inline-block;
  padding-left: 20px;
  line-height: 22px;
}

.menu:first-child li:last-child {
  padding-right: 5px;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
}

.menu.lang li {
  padding: 0 10px;
  border-right: 1px solid black;
  line-height: 12px;
}

.menu.lang li:last-child {
  border-right: none;
  padding-right: 0;
}

.burger i {
  color: black;
  font-size: 25px;
}
/* Fine Menu */
/* Fine Nav Top */

/* Jumbotron */
.jumbotron {
  height: 550px;
  background-image: url("../img/hero-bg.jpg");
}

.jumbotron .teaser {
  color: white;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Fine Jumbotron */

/* FINE HEADER */


/* MAIN */

/* Sezione Prodotti */
.products .inner-content {
  padding: 20px;
}

.products .content-col {
  background-color: #fafafa;
  text-align: center;
  padding: 50px 30px;
}

.products .content-col img {
  width: 100%;
}

.products .content-col a {
  text-decoration: none;
}
/* Fine Sezione Prodotti */

/* Sezione Telefono */
.phone .helbiz-banner {
  height: 350px;
  background-image: url("../img/HelbizBanner.jpg");
  background-size: cover;
  text-align: center;
}

.phone .helbiz-banner img {
  width: 300px;
  position: relative;
  top: 30%;
}

.phone .phone-title {
  height: 150px;
  width: 70%;
  margin:auto;
  position: relative;
}

.title-content {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 95px;
}
/* Fine Sezione Telefono */

/* FINE MAIN */


/* MEDIA QUERIES */

/* MOBILE */
@media all and (max-width: 767px) {

  /* Header */
  .jumbotron .teaser {
    width: 70%;
  }

  .teaser h1 {
    font-size: 38px;
  }

  /* Sezione Telefono */
  .phone .phone-title {
    height: auto;
  }

  .title-content {
    position:static;
    transform: none;
    padding-top:0;
  }

  .title-content.first{
    padding-top: 215px;
  }

}

/* TABLET */
@media all and (min-width: 768px) and (max-width: 991px) {
  .phone .phone-title {
    height: auto;
  }

  .title-content {
    position:static;
    transform: none;
    padding-top:0;
  }

  .title-content.first{
    padding-top: 215px;
  }
}

/* FINE MEDIA QUERIES */